body{
	color: #000000;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: ;
}
.navigation ul{
	height: 72px;
	width: 1200px;
	background-color: black;
	list-style: none;
	font-size: 16px;
	float: left;
}
.navigation ul li {
	float: left;
}
.navigation ul li a{
	display: block;
	text-decoration: none;
	color: #ffffff;
}
.second-nav ul{
	list-style: none;
	float: left;
}
.second-nav ul li {
	float: left;
}
.second-nav ul li a{
	display: block;
	text-decoration: none;
	color: #000000;
}
article{
	width: 246px;
	height: 312px;
	background-color: #ffffff;

}
article .price{
	width: 109px;
	height: 43px;
	background-color: #cccccc;
}
.main-footer{
	background-color: #212121;
	width: 1200px;
	height: 189px;
	color: #ffffff;

}
