body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #000;
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 300;
    font-style: normal;   
}
.clearfix:after{
	content:'';
	display: table;
	clear: both;
}
.main-header{
	min-width: 1200px;
	min-height: 438px;
	padding: 5px 0;
	margin: 0 auto;
	background-color: #eeeeee;
	background-size: 100% auto;
}
.main-header-block{
	min-width: 1200px;
	min-height: 345px;
	padding: 5px 0;
	margin: 0 auto;
	background-color: #eeeeee;
	background-size: 100% auto;
}
.header-text{
	float: left;
	font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    margin-top: 65px;
}
.nav-container{
	margin: 0 auto;
	width: 900px;
	padding-top: 20px;
	padding-bottom: 50px;
}
.top-menu{
	float: right;
	width: 585px;
	height: 40px;
	margin-top: 15px;
}
.top-menu ul li{
	list-style: none;
	padding-right: 45px;
	padding-top: 15px;
	float: left;
}
.top-menu ul li:last-child {
	padding-right: 0;
}
.top-menu ul li a{
	text-decoration: none;
	display: inline-block;
	color: #000000;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 14px;
}
.top-menu .cart{
	width: 100px;
	margin: 0 auto;
	padding-top: 20px;
	display: inline-block;
	vertical-align: top;
	padding-left: 70px;
	font-size: 14px;
}
.top-menu .cart a{
	text-decoration: none;
	display: inline-block;
	color: #000000;
	text-transform: uppercase;
	font-weight: bolder;
}
.top-menu ul {
	display: inline-block;
	vertical-align: top;
}
.cart div{
	margin-left: -25px;
	position: absolute;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -5px -5px;
	display: inline;
	width: 15px;
	height: 15px;
	margin-top: 2px;
}
.logo{
	float: left;
}
/*Slider*/
.slider{
    position:relative;
    width:880px;
    height:310px;
    margin: 55px auto 0;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
.slider-controls .active{
    background:#c1c1c1;
}
.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.slide-text{
    width:380px;
    padding:30px 0;
    color:#283136;
}
.slide-title{
    font-size:36px;
    font-weight:bold;
    color:black;
}
.slide .btn{
    display:block;
    width:240px;
    padding:10px 0;
    margin-top: 31px;
    font-size:12px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}
.slide:nth-child(1){
    background-image:url('../img/header.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide{
    display:none;
}
.slide:nth-child(3){
    display:block;
}
.slide:nth-child(2){
    background-image:url('../img/header.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(3){
    background-image:url('../img/header.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#c1c1c1;
}
.slider input[type=radio]{
    position:absolute;
    opacity:0;
}
.parent-block{
	width: 900px;
	min-height: 700px;
	margin: 20px auto;
}
.columns{
	margin: 0 auto;
}
.column{
	width: 250px;
	min-height: 350px;
	float: left;
	margin-top: 45px;
	margin-right: 66px;
}
.column:last-child{
	float: right;
	margin-right: 10px
}
.column-work{
	width: 250px;
	min-height: 350px;
	float: right;
	margin-top: 90px;
	margin-right: -17px;
}
.column-work img{
	margin-bottom: 20px;
	margin-right: 10px; 
	margin-right: 10px;
}
.column-work ul{
	margin-top: 95px;
}
.column-work ul li{
	list-style-image: url("../img/list.png");
	line-height: 2.8;
}
.btnn{
	width: 140px;
	padding: 10px 0;
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
	text-transform: uppercase;
	margin-top: 36px;
}
.red{
	background-color: #fb565a;
}
.green{
	background-color: #00ca74;
}
.yellow{
	background-color: #efc84a;
}
.red:hover {
    background-color: #d6494d;
 }
.green:hover{
	background-color: #01a25e;
}
.yellow:hover{
	background-color: #d6ae2c;
}
.about-us{
	width: 500px;
	min-height: 350px;
	margin-top: 100px;
	float: left;
}
.about-us ul {
	margin-left: 30px;
} 
.about-us ul li{
	list-style-image: url("../img/list.png");
	line-height: 3.0;
}
.text-head{
	font-size: 33px;
	font-weight: bold;
}
.partners{
	width: 900px;
	height: 168px;
	margin: 52px auto;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}
.partners a:nth-child(1){
	float: left; 
	margin-right: 117px; 
	margin-left: 11px;
	margin-top: 68px;  
}
.partners a:nth-child(2){
	float: left; 
	margin-right: 70px;
	margin-top: 56px;
}
.partners a:nth-child(3){
	float: right; 
	margin-right: 42px;
	margin-top: 48px;
}
.map{
	position: relative;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: center;
	min-width: 1200px;
	min-height: 450px;
	background-size: 100% auto;
	margin-top: 82px;
}
.cloud{
	position: absolute;
    top: 114px;
	left: 900px;
}
.box{
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    left: 223px;
    top: 89px;
    background-color: white;
    text-align: center;
}
.btn-box{
	width: 204px;
	padding: 10px 0;
    border-radius: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin: 46px auto;
}
.footer{
	min-width: 1200px;
}
.footer-bottom{
	width: 900px;
	margin: 0 auto;
}
.vk,.fb,.instagram{
	width: 65px;
	height: 65px;
	background-color: #eeeeee;
	border-radius: 35px 35px;
	margin: 20px 10px;
	display: inline-block;
	position: relative;
}
.vk span{
	background: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -5px -72px;
	margin: 26px 16px;
    width: 26px;
    height: 15px;
    position: absolute;
}
.fb span{
	background: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -77px -40px;
	margin: 22px 25px;
    width: 12px;
    height: 22px;
    position: absolute;
}
.instagram span{
	background: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -99px -40px;
	margin: 22px;
    width: 21px;
    height: 21px;
    position: absolute;
}
.vk:hover{
	background-color: #fb565a;
}
.fb:hover{
	background-color: #fb565a;
}
.instagram:hover{
	background-color: #fb565a;
}
.footer-title {
	float: left;
	margin-top: 40px;
	margin-left: 13px;
}
.social-networks{
	float: left;
	margin-right: 55px;
	margin-left: -12px;
	margin-top: 21px;
}
.catalog-content{
	margin: 45px auto;
	width: 1000px;
	min-height: 1126px;
}
.catalog{
	width: 300px;
	min-height: 1000px;
	margin-right: 20px;
	float: left;
}
.form{
	width: 300px;
    height: 500px;
    margin-left: 45px;
    margin-top: 38px
}
/*Filter*/
.range-filter {
    width: 240px;
    margin: 18px auto; 
}
.range-controls {
	position: relative;
	height: 41px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 15px;
	border-radius: 5px;
	background: #f1f1f1;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 50px;
}
.range-controls .toggle-max {
  left: 110px;
}
.price-controls {
  font-size: 0;
}
.price-controls label{
  font-size: 16px;
  display: inline-block;
  width: 50%;
}
.max-price{
  text-align: right;
}
.price-controls input{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}
.filter-box{
	width: 300px;
    height: 150px;
    margin-top: 15px;
 }
 .btn-form{
 	width: 140px;
 	height: 38px;
 	border-radius: 5px;
 	margin-top: 20px;
 }
 /*sprite*/
.form input[type="radio"]{
	display: none;

}
.form input[type="radio"]+label{
	display: block;
	position: relative;
	font-size: 16px;
	line-height: 25px;
	padding-left: 30px;
	margin-bottom: 20px;
}
.form input[type="radio"]+label::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;   
    width: 25px;
    height: 25px;
    background-position: -42px -38px;
} 
.form input[type="radio"]:checked+label::before{
    background-position: -77px -5px;
}
.form input[type="checkbox"]{
	display: none;
}
.form input[type="checkbox"]+label{
	display: block;
	position: relative;
	font-size: 16px;
	line-height: 25px;
	padding-left: 30px;
	margin-bottom: 20px;
}
.form input[type="checkbox"]+label::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;   
    width: 23px;
    height: 23px;
    background-position: -30px -5px;
} 
.form input[type="checkbox"]:checked+label::before{
    width: 23px;
    height: 23px;
    background-position: -5px -38px;
}
.shop-results{
	min-height: 1000px;
	margin-right: 20px;
}
.shop{
    float: left;
    min-height: 900px;
    width: 636px;
}
.wrapper{
	float: left;
    padding: 19px 32px 53px 45px;
}
.wrapper-second{
	position: relative;
	float: left;
	padding: 19px 32px 53px 45px;
}
.box-shop{
    position: absolute;
    width: 220px;
    height: 220px;
    left: 55px;
    top: 63px;
    background-color: white;
    text-align: center;
}
.btn-sunset{
	width: 140px;
	padding: 10px 0;
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
	text-transform: uppercase;
	margin: 10px 35px;
}
.sorts li{
	display: block;
	text-transform: uppercase;
	float: left;
	margin-right: 20px;
	margin-left: 35px;
}
.price,.type,.function{
	font-size: 12px;
	text-decoration: none;
	color: #eeeeee;
	border-bottom: 1px dashed;
	border-color: green; 
}
.button{
	width: 400px;
	margin: 14px 363px;
	float: left;
}
.active{
	width: 38px;
	padding: 10px 0;
	text-decoration: none;
	color: #000;
	background-color: #eeeeee;
	display: inline-block;
	margin: 5px;
	text-decoration: none;
    text-align: center;
    float: left;    
 }
.active-first{
	width: 37px;
	padding: 10px 0;
	text-decoration: none;
	color: #000;
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	display: inline-block;
	margin: 5px;
	text-align: center;
	float: left;
}
.next{
	width: 140px;
	padding: 10px 0;
	background-color: #eeeeee;
	text-decoration: none;
	color: #000;
	display: inline-block;
	margin: 5px;
	text-align: center;
	float: left;
}
.text{
	font-size: 18px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 18px;
    margin: 20px 0;
}
.text-form{
	font-size: 22px;
    color: #000;
    font-weight: bolder;
}
.box p{
	margin: 25px 10px 15px;
}
.box-shop p{
	margin: 25px 25px 20px;
}
